.resultsCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 50px;
  border: 2px solid white;
  background-color: white;
  border-radius: 3rem;
  color: grey;
}

.tempDetails {
  list-style-type: none;
}