.resultsCard {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 3.125rem;
  border: 0.125rem solid white;
  background-color: white;
  border-radius: 3rem;
  color: grey;
  width: 30rem;
  height: 30rem;
}

.topCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.tempDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch;
}

.weatherIcon {
width: 100px;
height: 100px;
}

.weatherIcon img {
  width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

