.resultsCard {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 3.125rem;
  border: 0.125rem solid white;
  background-color: white;
  border-radius: 3rem;
  color: grey;
  width: 30rem;
  height: 30rem;
}

li {
  list-style-type: none;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}